In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
# import data
raw= "/home/manish/Desktop/kaggle/data.csv"
baseData = pd.read_csv(raw)
baseData.head()

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,1
1,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,2
2,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,3
3,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,1,...,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,4
4,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,2,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,5

# Descriptive stats.

In [3]:
baseData.shape

(30697, 25)

In [4]:
# all numerical columns stat
baseData.describe(include=['number'])

,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,playoffs,seconds_remaining,shot_distance,shot_made_flag,team_id,shot_id
count,30697.000000,3.069700e+04,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,25697.000000,3.069700e+04,30697.000000
mean,249.190800,2.476407e+07,33.953192,7.110499,91.107535,-118.262690,4.885624,2.519432,0.146562,28.365085,13.437437,0.446161,1.610613e+09,15349.000000
std,150.003712,7.755175e+06,0.087791,110.124578,87.791361,0.110125,3.449897,1.153665,0.353674,17.478949,9.374189,0.497103,0.000000e+00,8861.604943
min,2.000000,2.000001e+07,33.253300,-250.000000,-44.000000,-118.519800,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.610613e+09,1.000000
25%,110.000000,2.050008e+07,33.884300,-68.000000,4.000000,-118.337800,2.000000,1.000000,0.000000,13.000000,5.000000,0.000000,1.610613e+09,7675.000000
50%,253.000000,2.090035e+07,33.970300,0.000000,74.000000,-118.269800,5.000000,3.000000,0.000000,28.000000,15.000000,0.000000,1.610613e+09,15349.000000
75%,368.000000,2.960047e+07,34.040300,95.000000,160.000000,-118.174800,8.000000,3.000000,0.000000,43.000000,21.000000,1.000000,1.610613e+09,23023.000000
max,659.000000,4.990009e+07,34.088300,248.000000,791.000000,-118.021800,11.000000,7.000000,1.000000,59.000000,79.000000,1.000000,1.610613e+09,30697.000000

In [5]:
# categorical columns:
baseData.describe(include=['object', 'category'])

,action_type,combined_shot_type,season,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_name,game_date,matchup,opponent
count,30697,30697,30697,30697,30697,30697,30697,30697,30697,30697,30697
unique,57,6,20,2,6,7,5,1,1559,74,33
top,Jump Shot,Jump Shot,2005-06,2PT Field Goal,Center(C),Mid-Range,Less Than 8 ft.,Los Angeles Lakers,2016-04-13,LAL @ SAS,SAS
freq,18880,23485,2318,24271,13455,12625,9398,30697,50,1020,1978

# Data Visualization

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

ax = plt.axes()
sns.countplot(x='shot_made_flag', data=baseData, ax=ax);
ax.set_title('Target class distribution')
plt.show()

#  target variable is distributed almost equally

In [7]:
#sns.pairplot(baseData, vars=['loc_x', 'loc_y', 'lat', 'lon', 'shot_distance'], hue='shot_made_flag', size=3)
plt.show()

# Data Preparation

In [8]:
#Dropping NaN from outcome variable
nnData = baseData[pd.notnull(baseData['shot_made_flag'])]

In [9]:
# Player shot ball
print(nnData.action_type.unique())
print(nnData.combined_shot_type.unique())
print(nnData.shot_type.unique())

['Jump Shot' 'Driving Dunk Shot' 'Layup Shot' 'Running Jump Shot'
 'Reverse Dunk Shot' 'Slam Dunk Shot' 'Driving Layup Shot'
 'Turnaround Jump Shot' 'Reverse Layup Shot' 'Tip Shot' 'Running Hook Shot'
 'Alley Oop Dunk Shot' 'Dunk Shot' 'Alley Oop Layup shot'
 'Running Dunk Shot' 'Driving Finger Roll Shot' 'Running Layup Shot'
 'Finger Roll Shot' 'Fadeaway Jump Shot' 'Follow Up Dunk Shot' 'Hook Shot'
 'Turnaround Hook Shot' 'Jump Hook Shot' 'Running Finger Roll Shot'
 'Jump Bank Shot' 'Turnaround Finger Roll Shot' 'Hook Bank Shot'
 'Driving Hook Shot' 'Running Tip Shot' 'Running Reverse Layup Shot'
 'Driving Finger Roll Layup Shot' 'Fadeaway Bank shot' 'Pullup Jump shot'
 'Finger Roll Layup Shot' 'Turnaround Fadeaway shot'
 'Driving Reverse Layup Shot' 'Driving Slam Dunk Shot'
 'Step Back Jump shot' 'Turnaround Bank shot' 'Reverse Slam Dunk Shot'
 'Floating Jump shot' 'Putback Slam Dunk Shot' 'Running Bank shot'
 'Driving Bank shot' 'Driving Jump shot' 'Putback Layup Shot'
 'Putback Dunk Shot' 'Running Finger Roll Layup Shot' 'Pullup Bank shot'
 'Running Slam Dunk Shot' 'Cutting Layup Shot' 'Driving Floating Jump Shot'
 'Running Pull-Up Jump Shot' 'Tip Layup Shot'
 'Driving Floating Bank Jump Shot']
['Jump Shot' 'Dunk' 'Layup' 'Tip Shot' 'Hook Shot' 'Bank Shot']
['2PT Field Goal' '3PT Field Goal']

In [10]:
# Unique Season
nnData['season'].unique()

array(['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06',
       '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12',
       '2012-13', '2013-14', '2014-15', '2015-16', '1996-97', '1997-98',
       '1998-99', '1999-00'], dtype=object)

In [11]:
# Team id and name
print(nnData['team_id'].unique())
print(nnData['team_name'].unique())

[1610612747]
['Los Angeles Lakers']

In [12]:
print(nnData['matchup'].unique())

['LAL @ POR' 'LAL vs. UTA' 'LAL @ VAN' 'LAL vs. LAC' 'LAL @ HOU'
 'LAL @ SAS' 'LAL vs. HOU' 'LAL vs. DEN' 'LAL @ SAC' 'LAL @ DEN'
 'LAL vs. CHI' 'LAL vs. GSW' 'LAL vs. MIN' 'LAL @ LAC' 'LAL vs. IND'
 'LAL @ SEA' 'LAL vs. SAS' 'LAL vs. DAL' 'LAL vs. PHI' 'LAL @ GSW'
 'LAL vs. SEA' 'LAL vs. DET' 'LAL vs. MIL' 'LAL vs. VAN' 'LAL @ TOR'
 'LAL @ MIA' 'LAL @ DAL' 'LAL vs. POR' 'LAL @ PHX' 'LAL vs. CLE'
 'LAL @ UTA' 'LAL vs. MIA' 'LAL vs. NJN' 'LAL @ NYK' 'LAL @ CLE'
 'LAL @ MIN' 'LAL vs. CHH' 'LAL vs. SAC' 'LAL vs. PHX' 'LAL @ NJN'
 'LAL @ PHI' 'LAL @ CHH' 'LAL @ IND' 'LAL vs. TOR' 'LAL @ DET' 'LAL @ WAS'
 'LAL @ ORL' 'LAL @ ATL' 'LAL @ MIL' 'LAL vs. NYK' 'LAL vs. MEM'
 'LAL vs. ORL' 'LAL @ MEM' 'LAL @ CHI' 'LAL vs. WAS' 'LAL vs. ATL'
 'LAL vs. BOS' 'LAL @ BOS' 'LAL vs. NOH' 'LAL @ NOH' 'LAL @ UTH'
 'LAL vs. SAN' 'LAL @ NOK' 'LAL @ PHO' 'LAL vs. NOK' 'LAL vs. PHO'
 'LAL @ CHA' 'LAL vs. CHA' 'LAL vs. OKC' 'LAL @ OKC' 'LAL vs. BKN'
 'LAL @ BKN' 'LAL @ NOP' 'LAL vs. NOP']

In [13]:
# remaining_time feature
baseData['remaining_time'] = baseData['minutes_remaining'] * 60 + baseData['seconds_remaining']

In [14]:
baseData['season'] = baseData['season'].apply(lambda x: int(x.split('-')[1]) )

In [110]:
raw = baseData.copy() # create a copy of data

In [111]:
raw.head()

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id,remaining_time
0,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,1,627
1,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,2,622
2,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,3,465
3,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,1,...,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,4,412
4,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,2,...,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,5,379

In [112]:
# Remove some columns
    
drops = ['shot_id', 'team_id', 'team_name', 'shot_zone_area', 'shot_zone_range', 'shot_zone_basic', \
         'matchup', 'lon', 'lat','seconds_remaining', 'minutes_remaining', \
         'shot_distance', 'game_event_id', 'game_id', 'game_date']
for drop in drops:
    raw = raw.drop(drop, 1)    
    
#'team_id': Always one number
#'team_name': Always LA Lakers
#'shot_id': Serial number
#'shot_zone_area': separated by dist and angle
#'shot_zone_range':separated by dist and angle
#'shot_zone_basic':separated by dist and angle
#'shot_distance':proportional to dist 
#'matchup: same as oppoent feature
#'lat': Correlated with loc_x
#'lon': Correlated with loc_y
#'seconds_remaining': remaining_time
#'minutes_remaining': remaining_time
#'game_id': Independent
#'game_even_id':Independent
#'game_date': Independent

In [113]:
raw.head()

,action_type,combined_shot_type,loc_x,loc_y,period,playoffs,season,shot_made_flag,shot_type,opponent,remaining_time
0,Jump Shot,Jump Shot,167,72,1,0,1,NaN,2PT Field Goal,POR,627
1,Jump Shot,Jump Shot,-157,0,1,0,1,0.0,2PT Field Goal,POR,622
2,Jump Shot,Jump Shot,-101,135,1,0,1,1.0,2PT Field Goal,POR,465
3,Jump Shot,Jump Shot,138,175,1,0,1,0.0,2PT Field Goal,POR,412
4,Driving Dunk Shot,Dunk,0,0,2,0,1,1.0,2PT Field Goal,POR,379

In [114]:
# turn categorical variables into dummy variables
categorical_vars = ['action_type', 'combined_shot_type', 'shot_type', 'opponent']
for var in categorical_vars:

    raw = pd.concat([raw, pd.get_dummies(raw[var], prefix=var)], 1)
    raw = raw.drop(var, 1)

In [115]:
raw.head()

,loc_x,loc_y,period,playoffs,season,shot_made_flag,remaining_time,action_type_Alley Oop Dunk Shot,action_type_Alley Oop Layup shot,action_type_Cutting Finger Roll Layup Shot,...,opponent_PHI,opponent_PHX,opponent_POR,opponent_SAC,opponent_SAS,opponent_SEA,opponent_TOR,opponent_UTA,opponent_VAN,opponent_WAS
0,167,72,1,0,1,NaN,627,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,-157,0,1,0,1,0.0,622,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,-101,135,1,0,1,1.0,465,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,138,175,1,0,1,0.0,412,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,2,0,1,1.0,379,0,0,0,...,0,0,1,0,0,0,0,0,0,0

# Training and Testing Data

In [116]:
train_x = raw[pd.notnull(raw['shot_made_flag'])]
test = raw[pd.isnull(raw['shot_made_flag'])]
test = test.drop('shot_made_flag', 1)

In [117]:
train_x.head()

,loc_x,loc_y,period,playoffs,season,shot_made_flag,remaining_time,action_type_Alley Oop Dunk Shot,action_type_Alley Oop Layup shot,action_type_Cutting Finger Roll Layup Shot,...,opponent_PHI,opponent_PHX,opponent_POR,opponent_SAC,opponent_SAS,opponent_SEA,opponent_TOR,opponent_UTA,opponent_VAN,opponent_WAS
1,-157,0,1,0,1,0.0,622,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,-101,135,1,0,1,1.0,465,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,138,175,1,0,1,0.0,412,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,2,0,1,1.0,379,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,-145,-11,3,0,1,0.0,572,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [118]:
# separate df into explanatory and response variables
train = train_x.drop('shot_made_flag', 1)
train_y = train_x['shot_made_flag']

In [119]:
train.head()

,loc_x,loc_y,period,playoffs,season,remaining_time,action_type_Alley Oop Dunk Shot,action_type_Alley Oop Layup shot,action_type_Cutting Finger Roll Layup Shot,action_type_Cutting Layup Shot,...,opponent_PHI,opponent_PHX,opponent_POR,opponent_SAC,opponent_SAS,opponent_SEA,opponent_TOR,opponent_UTA,opponent_VAN,opponent_WAS
1,-157,0,1,0,1,622,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,-101,135,1,0,1,465,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,138,175,1,0,1,412,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,2,0,1,379,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,-145,-11,3,0,1,572,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

# Building a model

In [120]:
#Submissions are evaluated on the log loss. We are going to use it for evaluating our model.
import scipy as sp
def logloss(act, pred):
    epsilon = 1e-15
    pred = sp.maximum(epsilon, pred)
    pred = sp.minimum(1-epsilon, pred)
    ll = sum(act*sp.log(pred) + sp.subtract(1,act)*sp.log(sp.subtract(1,pred)))
    ll = ll * -1.0/len(act)
    return ll

In [121]:
#building model

import xgboost as xgb
from sklearn.metrics import log_loss, accuracy_score
from sklearn.cross_validation import cross_val_score, train_test_split


def modelfit(alg, dtrain, predictors, useTrainCV=True, cv_folds=5, early_stopping_rounds=50):    
    if useTrainCV:
        xgb_param = alg.get_xgb_params()
        xgtrain = xgb.DMatrix(train, label=train_y, missing=np.NaN)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=cv_folds,
                          early_stopping_rounds=early_stopping_rounds, metrics=['logloss'])
        alg.set_params(n_estimators=cvresult.shape[0])
   
    print cvresult 
    # Test params
    X_train, X_valid, y_train, y_valid = train_test_split(dtrain, predictors, test_size=0.2)
    alg.fit(X_train, y_train, eval_metric='logloss')
    y_pred = alg.predict_proba(X_valid)[:,1]
    
    result = log_loss(y_valid, y_pred)
    print(result)
    # return result

In [122]:
train.dtypes

loc_x                                          int64
loc_y                                          int64
period                                         int64
playoffs                                       int64
season                                         int64
remaining_time                                 int64
action_type_Alley Oop Dunk Shot                uint8
action_type_Alley Oop Layup shot               uint8
action_type_Cutting Finger Roll Layup Shot     uint8
action_type_Cutting Layup Shot                 uint8
action_type_Driving Bank shot                  uint8
action_type_Driving Dunk Shot                  uint8
action_type_Driving Finger Roll Layup Shot     uint8
action_type_Driving Finger Roll Shot           uint8
action_type_Driving Floating Bank Jump Shot    uint8
action_type_Driving Floating Jump Shot         uint8
action_type_Driving Hook Shot                  uint8
action_type_Driving Jump shot                  uint8
action_type_Driving Layup Shot                 uint8
action_type_Driving Reverse Layup Shot         uint8
action_type_Driving Slam Dunk Shot             uint8
action_type_Dunk Shot                          uint8
action_type_Fadeaway Bank shot                 uint8
action_type_Fadeaway Jump Shot                 uint8
action_type_Finger Roll Layup Shot             uint8
action_type_Finger Roll Shot                   uint8
action_type_Floating Jump shot                 uint8
action_type_Follow Up Dunk Shot                uint8
action_type_Hook Bank Shot                     uint8
action_type_Hook Shot                          uint8
                                               ...
opponent_CHA                                   uint8
opponent_CHI                                   uint8
opponent_CLE                                   uint8
opponent_DAL                                   uint8
opponent_DEN                                   uint8
opponent_DET                                   uint8
opponent_GSW                                   uint8
opponent_HOU                                   uint8
opponent_IND                                   uint8
opponent_LAC                                   uint8
opponent_MEM                                   uint8
opponent_MIA                                   uint8
opponent_MIL                                   uint8
opponent_MIN                                   uint8
opponent_NJN                                   uint8
opponent_NOH                                   uint8
opponent_NOP                                   uint8
opponent_NYK                                   uint8
opponent_OKC                                   uint8
opponent_ORL                                   uint8
opponent_PHI                                   uint8
opponent_PHX                                   uint8
opponent_POR                                   uint8
opponent_SAC                                   uint8
opponent_SAS                                   uint8
opponent_SEA                                   uint8
opponent_TOR                                   uint8
opponent_UTA                                   uint8
opponent_VAN                                   uint8
opponent_WAS                                   uint8
dtype: object

In [123]:
# XGBOOST MODEL
xgb_tr = xgb.DMatrix(train, label=train_y, missing=np.NaN)
xgb_ts = xgb.DMatrix(test, missing=np.NaN)


params = {
    'base_score': 0.5, 
    'colsample_bylevel': 1,
    'colsample_bytree': 0.8,
    'learning_rate': 0.05,
    'max_depth': 32,
    'min_child_weight': 1,
    'n_estimators': 200,
    'nthread': -1,
    'objective': 'binary:logistic',
    'seed': 27,
    'subsample': 0.8,
}
num_round = 40

In [124]:
model = xgb.train(params, xgb_tr, num_round)
test_pred = model.predict(xgb_ts)

print test_pred

sub = pd.read_csv("/home/manish/Desktop/kaggle/sample_submission.csv")
sub['shot_made_flag'] = test_pred
sub.to_csv("xgboost_cv.csv", index=False)

[ 0.25651717  0.27927446  0.4998807  ...,  0.62493336  0.81638438
  0.7587198 ]